<style rel="stylesheet" href="../static/css/taskBar.css"></style>
<div id="myProgress">
    <div id="myBar">10%</div>
</div>
<br>
<button onclick="move()">Click Me</button>
<script type='text/javascript' src="../static/scripts/taskBar.js"></script>